Source: kbookmarks
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 1.5),
               libkf5attica-dev (>= 5.5.0),
               libkf5auth-dev (>= 5.5.0),
               libkf5codecs-dev (>= 5.5.0),
               libkf5completion-dev (>= 5.5.0),
               libkf5config-dev (>= 5.5.0),
               libkf5configwidgets-dev (>= 5.5.0),
               libkf5coreaddons-dev (>= 5.5.0),
               libkf5dbusaddons-dev (>= 5.5.0),
               libkf5globalaccel-dev (>= 5.5.0),
               libkf5guiaddons-dev (>= 5.5.0),
               libkf5i18n-dev (>= 5.5.0),
               libkf5iconthemes-dev (>= 5.5.0),
               libkf5itemviews-dev (>= 5.5.0),
               libkf5kjs-dev (>= 5.5.0),
               libkf5service-dev (>= 5.5.0),
               libkf5sonnet-dev (>= 5.5.0),
               libkf5textwidgets-dev (>= 5.5.0),
               libkf5widgetsaddons-dev (>= 5.5.0),
               libkf5windowsystem-dev (>= 5.5.0),
               libkf5xmlgui-dev (>= 5.5.0),
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev,
               qttools5-dev,
               qttools5-dev-tools,
               xauth,
               xvfb
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kbookmarks
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/frameworks/kbookmarks.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/frameworks/kbookmarks.git

Package: libkf5bookmarks-dev
Section: libdevel
Architecture: any
Depends: libkf5bookmarks5 (= ${binary:Version}),
         libkf5configwidgets-dev,
         libkf5iconthemes-dev,
         libkf5xmlgui-dev,
         qtbase5-dev,
         ${misc:Depends}
Description: Qt library with support for bookmarks and the XBEL format.
 KBookmarks lets you access and manipulate bookmarks stored using the
 XBEL format.
 .
 Contains development files for kbookmarks.

Package: libkf5bookmarks5
Architecture: any
Multi-Arch: same
Depends: libkf5bookmarks-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Qt library with support for bookmarks and the XBEL format.
 KBookmarks lets you access and manipulate bookmarks stored using the
 XBEL format.

Package: libkf5bookmarks-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: libkf5bookmarks5-data
Replaces: libkf5bookmarks5-data
Description: Qt library with support for bookmarks and the XBEL format.
 KBookmarks lets you access and manipulate bookmarks stored using the
 XBEL format.
 .
 This package contains the translations.

Package: libkf5bookmarks5-dbg
Architecture: any
Multi-Arch: same
Priority: extra
Section: debug
Depends: libkf5bookmarks5 (= ${binary:Version}), ${misc:Depends}
Description: Qt library with support for bookmarks and the XBEL format.
 KBookmarks lets you access and manipulate bookmarks stored using the
 XBEL format.
 .
 Contains debug symbols for kbookmarks.
